<div class="login-new-body">
<div class="contents mb-3 row col-sm-6 col-form-label text-center mx-auto">
  <div class="success mb-3 row col-sm-6 col-form-label text-center mx-auto">
    <h4 class="text-center">
      投稿が完了しました。
    </h4>
    <a class="btn mb-3 row col-sm-9 col-form-label text-center mx-auto" href="/">投稿一覧へ戻る</a>
  </div>
</div>
</div>