<div class="contents mb-3 row col-sm-6 col-form-label text-center mx-auto">
  <div class="success mb-3 row col-sm-6 col-form-label text-center mx-auto">
    <h3 class="text-center">
      投稿が完了しました。
    </h3>
    <a class="btn mb-3 row col-sm-6 col-form-label text-center mx-auto" href="/">投稿一覧へ戻る</a>
  </div>
</div>